@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    background-color: #FBF5DD;
    position: sticky;
    top:0;
    z-index:1000;
}
.logo img{
 max-width: 80px;
}
.collegamenti{
    display: flex;
    gap: 32px; 
    list-style: none;
    margin: 0;
    padding: 0;
}
.collegamenti a{
    text-decoration: none;
    color: #0D530E; 
    font-weight: bold;
    display: inline-block;
    transition: transform 0.2s ;
}
.collegamenti a:hover, .iconaLogin:hover{
    color: #306d29;
    transform: scale(1.1); /*non modifica lo spazio reale che occupa il link*/
}
.link_attuale{
    border-bottom: 2px solid #0D530E;
}
#login_selected{
    border-bottom: 2px solid #000000;
}

.footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 40px; 
    background-color: #FBF5DD; 
    font-family: 'Lato', sans-serif;
    color: #0D530E;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}

.footer p {
    margin: 4px 0; 
    font-size: 0.8em;
}
.footer_parte_destra {
    flex: 1;
    text-align: right;
}
.footer_parte_sinistra{
    flex: 1;
}

p.titolo_footer{
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.footer_parte_centrale {
    display: flex;
    gap: 20px;
}
.footer_parte_centrale img {
    max-width: 35px;
    transition: transform 0.2s;
}
.footer_parte_centrale img:hover {
    transform: scale(1.1);
}
.menu_hamburger {
    display: none; 
    width: 35px; 
    cursor: pointer;
}
.icone_destra {
    display: flex;
    align-items: center;
    gap: 20px;
}
@media (max-width: 768px) {
    
    .navbar {
        padding: 15px 20px; 
        position: sticky;
        top: 0; 
    }

    .menu_hamburger {
        display: block; 
    }
    .collegamenti{
        display: none;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-15px);
        flex-direction: column;
        position: absolute;
        top:100%;
        left: 0;
        width:100%;
        background-color: #FBF5DD;
        gap: 15px;
        text-align: center;
        transition: opacity 0.3s;
    }

    .collegamenti.attivo{
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        padding: 10px 0;
    }

    .footer_parte_destra {
        display: none; 
    }
    
    .footer_parte_sinistra p:not(.titolo_footer) {/* Nasconde l'indirizzo, ma lascia visibile il titolo! */
        display: none; 
    }

    .footer {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center; 
        padding: 15px 20px; 
    }

    
    .footer_parte_centrale {
        display: flex;
        flex-direction: row;
        gap: 15px; 
    }

    .footer_parte_centrale img {
        max-width: 26px; 
    }
}
#hero{
    background-image: url(../img/entrata.png);
    background-size: cover;
    background-position: center 65%;
    background-repeat: no-repeat;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contenuto_hero{
    background-color: rgba(244, 241, 222, 0.51); 
    padding: 40px 60px;
    border-radius: 10px;
}
#contenuto_hero h1 {
    font-family: 'Montserrat', sans-serif;
    color: #0D530E;
    font-size: 3.5em; 
    margin: 0 0 10px 0;
}

#contenuto_hero h2 {
    font-size: 1em;
    color: #0D530E;
    margin: 0 0 35px 0; 
}
#bottone_catalogo {
    display: inline-block;
    padding: 12px 35px;
    border: 2px solid #0D530E;
    border-radius: 50px; 
    text-decoration: none;
    color: #0D530E;
    font-weight: bold;
    font-size: 1.1em;
}

#bottone_catalogo:hover {
    background-color: #0D530E; 
    color: #FBF5DD;
}
@media (max-width: 768px) {
    #contenuto_hero{
        background-color: rgba(244, 241, 222, 0.51); 
        padding: 40px 20px;
    }
    #contenuto_hero h1 {
        font-family: 'Montserrat', sans-serif;
        color: #0D530E;
        font-size:2em;
        margin: 0 0 10px 0
    }
    #contenuto_hero h2{
        font-size: 0.8em;
    }
}
#sezione_evidenza{
    padding: 60px 40px;
    text-align: center;
}
#sezione_evidenza h2{
    font-family: 'Montserrat',sans-serif;
    color: #0D530E;
    margin-bottom: 30px;
}
#griglia_evidenza {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 auto;
}
.card_pianta {
    border: 2px solid #306D29;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    margin: 20px 0;
}
.img_pianta {
    height: 200px;
    width: 100%;
    border-bottom: 2px solid #306D29;
    position: relative; 
    overflow: hidden;
}
.img_pianta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info_pianta {
    padding: 15px 20px;
    text-align: left;
    display: flex;
    flex-direction: column; 
    gap: 5px; 
}
.nome_pianta {
    font-weight: bold;
    color: #0D530E;
    font-size: 1.1em;
    margin: 0;
}
.prezzo_pianta {
    color: #306D29;
    margin: 0;
    font-weight: bold;
}
@media (max-width: 768px) {
    #griglia_evidenza {
        grid-template-columns: 1fr;
    }
}

.overlay_text{
    position: absolute;
    background-color: rgba(244, 241, 222, 0.51);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    align-items: center;
}
.img_pianta:hover .overlay_text{
    top: 0;
}
.overlay_text q {
    margin: 1em;
    text-align: center;
    font-weight: 400;
}
.overlay_text a{
    background-color: #FBF5DD;
    color: #0D530E;
    padding:8px 24px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #FBF5DD;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
}
/*sezione viaggio index*/
#sezione_viaggio {
    padding: 100px 40px; 
    background-color: #fcfbf7; 
}

#sezione_viaggio h2 {
    font-family: 'Montserrat', sans-serif;
    color: #0D530E;
    text-align: center;
    font-size: 2.5em; 
    margin-bottom: 80px; 
    text-transform: uppercase;
    letter-spacing: 2px; 
}


#contenitore_viaggio {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 80%; 
    margin: 0 auto; 
}

.viaggio_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 60px; 
}

.viaggio_testo {
    padding: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff; 
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.04); 
}

.viaggio_testo h3 {
    font-family: 'Montserrat', sans-serif;
    color: #306D29; 
    margin-top: 0;
    font-size: 1.6em;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.viaggio_testo p {
    color: #000000; 
    line-height: 1.9; 
    margin: 0;
    font-size: 1.1em;
}

.viaggio_img {
    border: none; 
    border-radius: 20px; 
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1); 
    height: 400px; 
}

.viaggio_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease; 
}

.viaggio_img:hover img {
    transform: scale(1.08); 
}


@media (max-width: 768px) {
    #sezione_viaggio { 
        padding: 60px 20px; 
    }
    
    #sezione_viaggio h2 {
        font-size: 2em;
        margin-bottom: 50px;
    }

    #contenitore_viaggio {
        gap: 60px;
    }

    .viaggio_item { 
        grid-template-columns: 1fr; 
        gap: 30px; 
    }
    .viaggio_testo {
        box-shadow: none;
        background-color: transparent;
        padding: 0;
    }
    .viaggio_img { 
        height: 300px; 
    }
    
    .viaggio_item .viaggio_testo,
    .viaggio_item:nth-child(even) .viaggio_testo { 
        order: 1 !important; 
        padding: 0 10px; 
    } 
    .viaggio_item .viaggio_img,
    .viaggio_item:nth-child(even) .viaggio_img { 
        order: 2 !important; 
    } 
}
.header_pagina {
    text-align: center;
    padding: 40px 20px 20px 20px;
}

.header_pagina h1 {
    font-family: 'Montserrat', sans-serif;
    color: #0D530E;
    font-size: 2.8em;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.header_pagina h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #306D29;
    margin: 0;
    font-weight: 500;
}

#sezione_storia {
    padding: 40px;
}

.storia_contenitore {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.storia_img {
    border-radius: 10px;
    overflow: hidden;
    background-color: #e7e1b1;
    text-align: center;
}

.storia_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 300px;
    display: block;
}

.storia_testo {
    border: 2px solid #306D29;
    border-radius: 10px;
    padding: 30px;
    background-color: #ffffff;
}

.storia_testo p {
    color: #000000;
    line-height: 1.5;
    font-size: 1.1em;
}

#sezione_galleria_chisiamo {
    padding: 40px;
}

#sezione_galleria_chisiamo h2 {
    font-family: 'Montserrat', sans-serif;
    color: #0D530E;
    margin-bottom: 30px;
}

.galleria_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.galleria_colonna_sinistra {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.galleria_colonna_destra {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.galleria_item {
    border-radius: 10px;
    overflow: hidden;
    background-color: #e7e1b1; 
}

.galleria_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
}

.galleria_item:hover img {
    transform: scale(1.05);
}

/* Colonna sinistra: (310px * 2) + 20px gap = 640px totali */
.galleria_item {
    height: 310px; 
}

/* Colonna destra: 3 righe da 200px + (20px gap * 2) = 640px totali */
.galleria_colonna_destra .galleria_item { /*tutti galleria item che si trovano dentro galleria colonna destra*/
    height: 200px; 
}

.galleria_colonna_destra .galleria_item:nth-child(3) {
    grid-column: span 2; 
}

@media (max-width: 768px) {
    .header_pagina h1 {
        font-size: 2em;
    }
    
    #sezione_storia, #sezione_galleria_chisiamo {
        padding: 20px;
    }

    .storia_contenitore {
        grid-template-columns: 1fr;
    }
    .storia_img {
        border: 2px solid #306D29;
    }

    .galleria_layout {
        grid-template-columns: 1fr;
    }
    
    .galleria_colonna_sinistra .galleria_item {
        height: 250px;
    }

    .galleria_colonna_destra .galleria_item {
        height: 150px;
    }

    .galleria_colonna_destra .galleria_item:nth-child(3) {
        grid-column: span 2;
        height: 200px;
    }
}

/*pagina contatti*/

#sezione_contatti {
    padding: 40px;
}

.contatti_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 30px;
}

.contatti_form h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0D530E;
    font-size: 1.5em;
}

.contatti_form label {
    display: block;
    font-weight: bold;
    color: #0D530E;
    margin-bottom: 8px;
}

.contatti_form input,
.contatti_form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 2px solid #306D29; 
    border-radius: 10px; 
    box-sizing: border-box; 
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.btn_invia {
    display: block;
    width: 100%;
    max-width: 200px;
    padding: 12px 25px;
    background-color: transparent;
    border: 2px solid #0D530E;
    border-radius: 50px;
    color: #0D530E;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 auto;
}

.btn_invia:hover {
    background-color: #0D530E;
    color: #FBF5DD;
}

.mappa_container {
    width: 100%;
    height: 350px;
    border: 2px solid #306D29;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

.mappa_container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.dettagli_contatto p {
    color: #000000;
    font-size: 1.1em;
    margin: 10px 0;
    line-height: 1.5;
}

.dettagli_contatto strong {
    color: #0D530E;
}

@media (max-width: 768px) {
    #sezione_contatti {
        padding: 20px;
    }
    .contatti_layout {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .mappa_container {
        height: 250px; 
    }
    .dettagli_contatto {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
#griglia_catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    margin-top: 20px;
}

/* pagina catalogo*/
#sezione_filtri .contenitore_filtri {
    display: flex;
    gap: 20px;
    padding: 0 40px; 
    margin-bottom: 30px;
    width: 80%;
    margin:auto;
}

#sezione_filtri #cerca_pianta {
    flex: 3; 
    padding: 12px 15px;
    border: 2px solid #306D29; 
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    outline: none;
}

#sezione_filtri #filtro {
    flex: 1; 
    padding: 12px 15px;
    border: 2px solid #306D29;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    background-color: white;
    cursor: pointer;
    outline: none;
}
#sezione_catalogo {
    padding: 20px 0px;
    width: 70%;
    margin: auto;
}

/* Disposizione elementi interni alle card SOLO nel catalogo */
#griglia_catalogo .info_pianta_catalogo {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
    width: 100%;
}

#griglia_catalogo .disponibilita_pianta {
    font-size: 0.85em;
    font-weight: bold;
    color: #000000;
    margin: 0;
    text-align: right;
}
@media (max-width: 768px) {
    #griglia_catalogo {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    #sezione_filtri .contenitore_filtri {
        flex-direction: column;
        padding: 0 20px;
        gap: 12px;
    }
}

/*pagina login*/
#sezione_login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background-color: #faf9f5;
    flex-grow: 1; 
}

.contenitore_login {
    background-color: #ffffff;
    border: 2px solid #306D29;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.contenitore_login h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 2em;
    margin: 0 0 5px 0;
}

.sottotitolo_login {
    color: #000000;
    font-size: 0.9em;
    margin: 0 0 30px 0;
}

.form_login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.gruppo_input {
    display: flex;
    flex-direction: column;
}

.gruppo_input label {
    color: #000000;
    font-size: 0.9em;
    margin-bottom: 5px;
    padding-left: 5px;
}

.gruppo_input input {
    padding: 12px;
    border: 2px solid #306D29;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    outline: none;
    transition: border-color 0.3s;
}

.gruppo_input input:focus {
    border-color: #0D530E;
    box-shadow: 0 0 5px rgba(48, 109, 41, 0.2);
}

.btn_accedi {
    background-color: transparent;
    color: #000000;
    border: 2px solid #306D29;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    width: 30%;
    margin: auto;
    transition: background-color 0.3s, color 0.3s;
}

.btn_accedi:hover {
    background-color: #306D29;
    color: #ffffff;
}
/*pagina dashboard*/
#gestione_piante{
    width: 90%;
    margin: 0 auto;
}
#gestione_piante h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 2.8em;
    text-align: center;
    color: #0D530E;
}

.header, .riga {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr 1.5fr 1fr 1fr;
    align-items: center;
    padding: 15px 20px;
}

.header {

    border-radius: 8px 8px 0 0;
    font-weight: bold;
    background-color: #306d29;
    color: #ffffff;
}

#corpo {
    border: 2px solid #306D29;
    border-top: none;
    border-radius: 0 0 8px 8px;
}

.riga {
    border-bottom: 1px solid #306D29;
}

.riga:last-child {
    border-bottom: none;
}
.mobile_card {
    display: none;
}

/* Layout Desktop */
.desktop_pianta {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img_desktop {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 4px;
}

.codici, .azioni {
    display: flex;
    gap: 15px;
    align-items: center;
}

@media (max-width: 768px) {
    #gestione_piante h2 { 
        font-size: 2em; 
    }
    .header { 
        display: none ; 
    }
    #corpo { 
        border: none ; 
    }
    .desktop_pianta { 
        display: none ; 
    }
    .desktop_categoria { 
        display: none; 
    }
    .desktop_quantita { 
        display: none; 
    }
    .desktop_concime { 
        display: none; 
    }
    .riga:last-child {
        border-bottom: 1px solid #306D29;
    }
    .riga {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid #306D29 ; 
        border-radius: 12px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #fff;
    }
    .mobile_card {
        display: flex;
        width: 100%;
        gap: 15px;
    }

    .img_mobile {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 6px;
    }

    .mobile_dati {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .mobile_riga_dato {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .mobile_riga_dato span {
        font-size: 0.9em;
        color: #000000;
        min-width: 65px;
    }

    .box_input {
        border: 1px solid #000;
        padding: 6px 8px;
        width: 100%;
        font-size: 0.85em;
        border-radius: 4px;
        color: #000000;
    }

    .codici {
        width: 50%;
        margin-top: 25px;
        gap: 20px;
    }
    
    .azioni {
        width: 50%;
        margin-top: 25px;
        justify-content: flex-end;
    }
}

.bottone_icona{ 
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.icona_azione{
    width: 26px;
    height: 26px;
    transition: transform 0.2s;
}
.icona_azione:hover { 
    transform: scale(1.15);
}

#bottone_aggiungi{
    position: fixed;
    bottom: 100px ;
    right: 30px;
    background-color: #306D29;
    border: 2px solid #0D530E;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 99; 
}
#bottone_aggiungi img{
    width: 30px;
    height: 30px;
}
#bottone_aggiungi:hover{ 
    transform: scale(1.1);
}

.overlay_popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}
.overlay_popup.attivo{ 
    display: flex;
}

.contenuto_popup{
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    width: 60%;
    margin: auto;
}
.contenuto_popup h3{
    color: #306D29;
    border-bottom: 2px solid #0000005e;
    padding-bottom: 10px;
}

.gruppo_input{
    margin-bottom: 15px;
}
.gruppo_input label{ 
    margin-bottom: 6px;
    font-weight: bold;
    color: #000000;
    font-size: 0.9em;
}
.gruppo_input input, .gruppo_input select { 
    padding: 10px;
    border: 1px solid #0000005e;
    border-radius: 6px;
}
.doppia_colonna {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px; 
}

.azioni_popup { 
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 25px;
}
.azioni_popup button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em; 
}
#salva_pianta, #bottone_stampa_codice {
    background-color: #306D29;
    color: #ffffff; 
}
.btn_chiudi_popup { 
    background-color: #e0e0e0; 
    color: #0000005e; 
}
.btn_elimina_pianta{
    background-color: #ff0000;
    color: #ffffff;
}

#anteprima_codice { 
    display: flex; 
    justify-content: center; 
    margin: 25px 0; 
}
#url_codice { 
    text-align: center; 
    font-size: 0.85em; 
    margin-bottom: 20px; 
}
.testo_rosso {
    color: #ff0000 ;
    font-weight: bold;
}

@media print {
    body * { 
        visibility: hidden; 
    }
    #popup_codice, #popup_codice * { 
        visibility: visible; 
    }
    #popup_codice { 
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%; 
        background: none; 
        display: block; 
    }
    .azioni_popup { 
        display: none;
    }
    .contenuto_popup { 
        box-shadow: none; 
        border: none; 
        padding: 0; 
        margin: 0; 
    }
}